@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 0px 80px;
    display: flex;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 15px rgb(220 216 216);
    position: sticky;
    top: 0;
    background-color: white;
}
    
.navbar .rightpart {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.navbar img {
    width: 250px;
    height: auto;
    margin-left: 63px;
}


.navbar .rightpart i {
    padding: 0px 10px;
   font-size: 20px;
   color: #898787;
   cursor: pointer;
}

.navbar .rightpart button {
    width: 160px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #898787;
    margin-right: 10px;
    cursor: pointer;
}

.navbar .rightpart div {
    font-size: 20px;
    background-color: #f4511e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* LEFT CONTENT */

.left_content {
    width: 65%;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #efefef;
}

.left_top {
    display: flex;
    width: 750px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #efefef;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 600;
}

.left_top div:first-child{
    padding-right: 20px;
    color: #7a7a7a;
    cursor: pointer;
}

.left_top div:last-child {
    cursor: pointer;
}

/* WRITING */

.first_text {
    width: 750px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.writing {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.autor {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

#round_pic {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.autor img {
    width: 22px;
    height: auto;
    border-radius: 4px;
}


.autor div {
    font-size: 11px;
    font-weight: 700;
    padding-left: 10px;
}

.middle_test {
    color: #7a7a7a;
}

.writing h3 {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 5px;
    cursor: pointer;
}

.writing p {
    min-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #7a7a7a;
}

.bottom_line {
    display: flex;
    font-size: 13px;
    color: #7a7a7a;
    justify-content: space-between;
    padding-top: 8px;
}

.bottom_test span:nth-child(5) {
    background-color: #eeebeb;
    border-radius: 20px;
    border: none;
    padding: 2px 8px;
}

.bottom_icon{
    font-size: 20px;
    cursor: pointer;
}

.bottom_icon i:first-child{
    padding-right: 7px;
}

.first_text .big_img {
    height: 150px;
    width: 200px;
    object-fit: cover;
}


/* RIGHT CONTENT */

.right_content {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TWITTER */

.twitter {
    width: 320px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #efefef;
    font-weight: 600;
}

.twitter_icon {
    display: flex;
    margin-bottom: 20px;
}

.twitter_icon img{
    height: 30px;
    width: auto;
}

.twitter p {
    text-align: center;
    margin-bottom: 20px;
    color: #363636;
    font-size: 16px;
}

.twitter button img {
    height: 15px;
    width: auto;
}

.twitter button {
    height: 35px;
    width: 200px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #898787;
    margin-bottom: 20px;
    color: #363636;
    cursor: pointer;
}

.twitter span {
    font-size: 12px;
    color: #7a7a7a;
    text-decoration: underline;
    cursor: pointer;
}

/* TOPICS */

.topics {
    width: 320px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.topics h5 {
    color: #292929;
    margin-bottom: 15px;
    font-size: 14px;
}

.button_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.topics button {
    border: none;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 5px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}



/* FOLLOW */

.follow {
    width: 320px;

}

.follow h5 {
    color: #292929;
    font-size: 14px;
}

/* PERSON FOLLOW */

.follow {
    margin-bottom: 40px;
}

.person_follow img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.person_follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.follow_first_part{
    width: 220px;
    display: flex;
    align-items: center;
}

.follow_first_part div {
    padding-left: 15px;
    height: 60px;
    
}

.person_follow div p:first-child {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.person_follow div p:last-child {
    font-size: 11px;
    color: #7a7a7a;
    height: 30px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.person_follow button {
    height: 30px;
    width: 80px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #898787;
    cursor: pointer;
}

/* RECENTLY SAVED */

.save {
    width: 320px;

}

.save h5 {
    color: #292929;
    font-size: 14px;
}

.save_autor {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.save_autor div {
    padding-left: 10px;
}

.person_save img {
    width: 22px;
    height: auto;
    border-radius: 4px;
}

.person_save div {
    font-size: 11px;
    font-weight: 700;
}

.person_save div span {
    color: #7a7a7a;
}

.person_save h3 {
    font-size: 16px;
    margin-top: 5px;
}

.bottom_save {
    display: flex;
    font-size: 13px;
    color: #7a7a7a;
    align-items: center;
    margin-top: 10px;
}

.bottom_save p:first-child {
    padding-right: 5px;
    font-weight: 400;
}

.bottom_save p:nth-child(2) {
    padding: 0 5px;
    font-weight: 400;
}

.bottom_save p:nth-child(3) {
    padding: 0 5px;
    font-weight: 400;
}

.bottom_save i {
    padding-left: 5px;
}

.see_all {
    margin-top: 30px;
    margin-bottom: 70px;
}

.person_save a {
    font-size: 13px;
    color: #1b8818;
    font-weight: 400;
    text-decoration: none;
}


/* BOTTOM RIGHT */

.right_bottom {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.right_bottom p {
    color: #7a7a7a;
    font-size: 13px;
    padding-top: 15px;
    cursor: pointer;
}

.right_bottom p:not(:first-child) {
    padding-right: 30px;
}